@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1A1C20;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-family: var(--font-noto-sans-kr), sans-serif;
}

@theme {
  --font-sans: var(--font-noto-sans-kr), sans-serif;
  --font-rem: var(--font-rem), sans-serif;
}